bplist00ﬁ	
_RootCertPolicyUpdated]enabledCloudsTaUts_DataMigratedForBigSurSaupXaup_days_%NSWindow Frame NSNavPanelAutosaveNameTiZAeTlZtsXaup_type_trayLogModeSetting_trayNotificationSetting_!NSNavPanelExpandedSizeForOpenMode_NSNavLastRootDirectory¢Wzscloud[zscalerbetad2ÅõTDone_+r<p><strong>POL&Iacute;TICA DE USO ACEPTABLE DE INTERNET</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Contenido</strong></p>
<ol>
<li><strong>Introducci&oacute;n</strong></li>
<li><strong>Alcance de la normativa</strong></li>
<li><strong>Definiciones</strong></li>
<li><strong>Roles y responsabilidades</strong></li>
<li><strong>Uso aceptable de Internet</strong></li>
<li><strong>Controles sobre el uso</strong></li>
<li><strong>Infracciones de la pol&iacute;tica</strong></li>
<li><strong>Ap&eacute;ndice</strong></li>
</ol>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<p><strong>&nbsp;</strong></p>
<ol>
<li><strong>Introducci&oacute;n </strong></li>
</ol>
<p>El presente documento recoge las Pol&iacute;ticas de Uso Aceptable (PUA) aplicables al uso de Internet, regula su uso para fines privados/personales y establece directrices para que &eacute;ste sea responsable y adecuado.</p>
<p>SEAT, S.A. (en adelante la Compa&ntilde;&iacute;a) se reserva el derecho de hacer cambios en estas pol&iacute;ticas en cualquier momento, cuando la situaci&oacute;n lo requiera. As&iacute; mismo dichos cambios ser&aacute;n comunicados</p>
<p>El acceso a Internet provee oportunidades potenciales que pueden beneficiar al desarrollo de negocio. No obstante, un uso inadecuado o ileg&iacute;timo de Internet introduce numerosos riesgos en la Compa&ntilde;&iacute;a (por ejemplo, p&eacute;rdida de datos e incremento de costes, penas legales y multas, da&ntilde;o a la imagen de la Compa&ntilde;&iacute;a, etc.). Por ello, la Compa&ntilde;&iacute;a cuenta con un sistema de filtrado de contenidos que permite controlar y monitorizar la informaci&oacute;n intercambiada a trav&eacute;s de Internet.</p>
<p>Todos los usuarios deben ser informados, formados y concienciados sobre el uso aceptable de Internet. </p>
<p>Los usuarios est&aacute;n obligados a observar y cumplir con lo estipulado en las nomas de uso recogidas en la presente PUA, as&iacute; como notificar de forma inmediata cualquier tipo de infracci&oacute;n&nbsp; detectada de la misma. </p>
<p>Este documento desarrolla los principios fundamentales de la Pol&iacute;tica de Uso Aceptable recogidos en el procedimiento del Manual de Organizaci&oacute;n SI-40 aplicables al uso de Internet.</p>
<p>&nbsp;</p>
<ol start="2">
<li><strong>Alcance de la normativa </strong></li>
</ol>
<p>Esta pol&iacute;tica es aplicable a todos los usuarios de las compa&ntilde;&iacute;as pertenecientes al Grupo SEAT que hagan uso del acceso a Internet suministrados por la Compa&ntilde;&iacute;a, as&iacute; como a contratistas que trabajen para SEAT.</p>
<p>&nbsp;</p>
<ol start="3">
<li><strong>Definiciones </strong></li>
</ol>
<p>Internet: Red global de ordenadores mediante la cual las personas tienen acceso a diferentes fuentes de informaci&oacute;n e intercambio de datos.</p>
<p>PUA: Ver Manual de Organizaci&oacute;n SI-40.</p>
<p>Usuario: Ver Manual de Organizaci&oacute;n SI-40.</p>
<p>&nbsp; </p>
<ol start="4">
<li><strong>Roles y responsabilidades</strong></li>
</ol>
<p>Los roles y responsabilidades para el uso aceptable del servicio de acceso a Internet se describe a continuaci&oacute;n:</p>
<p><strong><em>Personal directivo: &nbsp;</em></strong></p>
<p>En colaboraci&oacute;n con &nbsp;los departamentos y entes especializados de la Compa&ntilde;&iacute;a, cada directivo es responsable de: </p>
<ul>
<li>Informar al personal a su cargo (incluyendo contratistas bajo su responsabilidad)&nbsp; de las pol&iacute;ticas de&nbsp; uso aceptable vigentes.</li>
<li>Introducir medidas apropiados para garantizar el cumplimiento de las normas y directrices.</li>
<li>Colaborar con otros departamentos y organizaciones en la introducci&oacute;n de medidas inter departamentales.</li>
</ul>
<p>&nbsp;<strong><em>Usuarios (internos y externos):&nbsp; </em></strong></p>
<p>&nbsp;Todos los usuarios tienen la responsabilidad de: </p>
<ul>
<li>Hacer uso del acceso a Internet&nbsp; suministrado en cumplimiento con lo establecido en las pol&iacute;ticas de uso aceptable vigentes, y de acuerdo con las directrices e instrucciones proporcionadas por su Gerencia.</li>
<li>Informar inmediatamente a su superior en caso de sospecha o detecci&oacute;n de infracciones a la normativa.</li>
</ul>
<p><strong><em>Administradores de sistema:</em></strong></p>
<p>Los administradores de sistema son responsables de:</p>
<ul>
<li>&nbsp;Introducir y realizar medidas t&eacute;cnicas de control para monitorizar y supervisar el cumplimiento de lo dispuesto en la presente normativa.</li>
<li>&nbsp;Informar inmediatamente a los responsables en caso de se detecte un uso que contravenga (o haya indicios que pueda contravenir)&nbsp; las normas y procedimientos organizativos&nbsp; vigentes.</li>
<li>Aplicar medidas y procedimientos correctivos que permitan reducir la exposici&oacute;n a la compa&ntilde;&iacute;a a incidentes o sanciones, de acuerdo con los procesos implantados e instrucciones proporcionadas.</li>
</ul>
<p>&nbsp; </p>
<ol start="5">
<li><strong>Uso aceptable de Internet</strong></li>
</ol>
<p><strong>&nbsp;</strong>Los usuarios deben hacer un uso responsable y apropiado del acceso a Internet suministrado por la Compa&ntilde;&iacute;a, sin incurrir en actividades il&iacute;citas o que contravengan las normas corporativas vigentes, que puedan ocasionar da&ntilde;os a la Compa&ntilde;&iacute;a o contravengan las disposiciones legales o acuerdos con terceros. Especialmente debe observarse las&nbsp; siguientes normas y buenas pr&aacute;cticas de uso:</p>
<ul>
<li>No est&aacute; permitido el uso &nbsp;de Internet sin previa autorizaci&oacute;n.</li>
<li>Con car&aacute;cter general, el uso de Internet deber&aacute; ser exclusivamente para prop&oacute;sitos laborales.</li>
<li>Excepcionalmente, el uso personal de la navegaci&oacute;n a Internet estar&aacute; permitido siempre y cuando:
<ul>
<li>No se haga un uso abusivo y el acceso se realice de forma ocasional.</li>
<li>No afecte a la productividad ni interfiera con la actividad laboral del trabajador.</li>
<li>No suponga una sobrecarga de los recursos de acceso a Internet.</li>
</ul>
</li>
<li>Queda terminantemente prohibido el uso de Internet para llevar a cabo acciones que puedan sobrecargar de forma ostensible el rendimiento de sistemas o evadir los controles de seguridad (p.ej. intentos de acceso no autorizado a sistemas de informaci&oacute;n).</li>
<li>La suscripci&oacute;n a listas, grupos de noticias, boletines y cualquier otro servicio promocional estar&aacute; sujeta a revisi&oacute;n y aprobaci&oacute;n por parte de los administradores del sistema.</li>
</ul>
<ul>
<li>Queda prohibida cualquier acci&oacute;n que manipule, da&ntilde;e, altere o destruya el dispositivo mediante el cual se accede a Internet (ordenador personal, etc&hellip;).</li>
<li>El usuario est&aacute; obligado adoptar las medidas de seguridad establecidas dentro de la organizaci&oacute;n para&nbsp; la transferencia de informaci&oacute;n sensible a trav&eacute;s del servicio de Internet.</li>
<li>Las cuentas de acceso a Internet no se pueden compartir con nadie, no se dejar&aacute;n abiertas ni sin supervisi&oacute;n.</li>
<li>Las cuenta de Internet, as&iacute; como las contrase&ntilde;as son confidenciales. No se revelar&aacute; mediante la red ning&uacute;n tipo de informaci&oacute;n relacionada.</li>
<li>Cada usuario es responsable del uso de su cuenta de acceso a Internet.</li>
<li>Si un usuario sospecha que su cuenta ha sido utilizada por otra persona es su responsabilidad informar a su superior.</li>
<li>Cualquier cuenta de acceso&nbsp; a Internet que presente inactividad durante 6 meses ser&aacute; desactivada, para el caso de usuarios internos, durante 3 meses para el caso de usuarios externos.</li>
</ul>
<p>&nbsp;</p>
<ol start="6">
<li><strong>Controles sobre el uso</strong></li>
</ol>
<p>Los usuarios aceptan, con esta normativa, que el servicio de acceso a Internet es una herramienta requerida y necesaria para cumplir con sus funciones laborales. Sin embargo, un uso inadecuado de &eacute;sta podr&iacute;a derivar en un impacto negativo para los fines de la compa&ntilde;&iacute;a, especialmente en lo relativo a la seguridad y confidencialidad de la informaci&oacute;n.</p>
<p>Por este motivo, la Compa&ntilde;&iacute;a se reserva el derecho a efectuar controles y comprobaciones sin previo aviso sobre el uso de Internet proporcionado por &eacute;sta, de conformidad con lo dispuesto en la presente pol&iacute;tica.&nbsp;</p>
<p>En los referidos controles, se obtendr&aacute; la siguiente informaci&oacute;n estad&iacute;stica, an&oacute;nima y no individualizada sobre el uso del servicio de acceso a Internet, con fines de seguridad y reporting interno:</p>
<ol>
<li>Sitios web accedidos.</li>
<li>Informaci&oacute;n referente al volumen de tr&aacute;fico.</li>
<li>Estad&iacute;sticas sobre la seguridad y uso del servicio de Internet (malware detectado, acceso a p&aacute;ginas web potencialmente peligrosas, intentos de conexiones a destinos no autorizados).</li>
</ol>
<p>El acceso a esta informaci&oacute;n se realizar&aacute; autom&aacute;ticamente mediante una herramienta, sin que este proceso requiera el acceso de personal especializado a los dispositivos, y garantizando en todo momento el cumplimiento de la legislaci&oacute;n vigente en materia de protecci&oacute;n de datos personales.</p>
<p>Frente a la sospecha de un incidente de seguridad o cualesquiera usos contrarios a las estipulaciones previstas en la presente pol&iacute;tica, la Compa&ntilde;&iacute;a se reserva el derecho a llevar a cabo controles m&aacute;s exhaustivos e individualizados para asegurar que se cumple con las normativas vigentes.</p>
<p>El listado de usuarios cuyo acceso a Internet no cumpla esta pol&iacute;tica de uso aceptable ser&aacute; remitido a la Gerencia del &aacute;rea al cual pertenece, siendo &eacute;sta, en colaboraci&oacute;n con el responsable de la infracci&oacute;n, el encargado de llevar a cabo el proceso de correcci&oacute;n.</p>
<p>&nbsp;</p>
<ol start="7">
<li><strong>Infracciones de la pol&iacute;tica</strong></li>
</ol>
<p>&nbsp;El departamento de Tecnolog&iacute;as de la Informaci&oacute;n &nbsp;y Sistemas (FS) se reserva el derecho, sin previo aviso, de bloquear el acceso a Internet a un usuario, as&iacute; como el acceso a cualquier recurso IT, en caso que se detecte una infracci&oacute;n grave de la pol&iacute;tica que pueda conducir a una situaci&oacute;n de riesgo para la Compa&ntilde;&iacute;a (por ejemplo detecci&oacute;n de conexiones utilizadas para efectuar ataques de seguridad inform&aacute;tica).&nbsp;</p>
<p>Aquellas infracciones, premeditadas o negligentes detectadas, ser&aacute;n evaluadas de forma individual y se sancionar&aacute;n en base a la normativa legal, contractual y corporativa vigente, pudiendo originar procesos disciplinarios. Estos procesos, a su vez, pueden concluir con un aviso verbal o por escrito, en caso de infracciones leves, o con la extinci&oacute;n del contrato (laboral o de servicios) para aquellas infracciones m&aacute;s graves.</p>
<p>&nbsp;</p> _&-1688 694 800 448 -1920 360 1920 1055 dHQ3	Z{800, 448}[~/Documents  % = K P h l u ù ¢ ß ∞ ≈ ﬂ (49>,¥,∂,ﬂ,‡,Â,Á,È,Í,ı                           -